<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://blobapifunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2b64459f-22bd-4e71-a218-9ddcd6004494/resourceGroups/Functions/providers/Microsoft.Web/sites/BlobApiFunction</ResourceId>
    <UserName>$BlobApiFunction</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://blobapifunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>